    <div class="card border-primary" style="margin-bottom:15px">
            <div class="card-header">
                <span>#{{ num_of_info }}</span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_{{ role }}_modal" style="float: unset;margin-left: 140px;">修改</button>
                <button type="button" class="btn btn-danger" style="float:right">刪除</button>
            </div>
            <div class="card-body">
                <div class="card-subtitle">{{ role_cht }}</div>
                <div class="card-text text-dark" style="margin-bottom:10px">{{ role_name }}</div>
                <div class="card-subtitle">{{ role_cht }}詳細地址</div>
                <div class="card-text text-dark" style="margin-bottom:10px">{{ role_addr }}</div>
            </div>
    </div>
