<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <title>台灣郵局存證信函產生器</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/third-party/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="/static/third-party/bootstrap/css/bootstrap.min.css">
        <script src="/static/third-party/bootstrap/js/bootstrap.min.js"></script>

        <!-- custom js -->
        <script src="/static/js/main.js"></script>
        <script src="/static/js/controls.js"></script>
    </head>

    <body background="/static/img/coffee.jpg">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">台灣郵局存證信函產生器</a>
                </li>
                <li class=nav-item>
                    <a class="nav-link" href="https://github.com/csterryliu/Legal-Attest-Letter-Generator-TW-Django">
                        <img src="/static/img/GitHub-Mark-Light-32px.png"> 網站原始碼
                    </a>
                </li>
                <li class=nav-item>
                    <a class="nav-link" href="https://github.com/csterryliu/Legal-Attest-Letter-Generator-TW">
                        <img src="/static/img/GitHub-Mark-Light-32px.png"> 核心原始碼
                    </a>
                </li>
            </ul>
        </nav>


        <div class="container" style="padding-top:20px">
            <div class="card border-light">
                <div class="card-header">
                    寄件資訊 
                    <button type="button" class="btn btn-warning" style="margin-left:15px">全部清除</button>
                </div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-sm-4" id="card_add_info">
                            <div class="card border-primary">
                                <div class="card-body">
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#add_receiver_modal" style="margin-left:15px">新增..</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-dark" style="margin-top:20px; height:500px">
                <div class="card-header bg-info text-white">
                    內文
                    <button type="button" class="btn btn-warning" style="margin-left:15px">全部清除</button>
                </div>
                <div class="card-body bg-secondary">
                    <div class=".container-fluid .form-group">
                        <textarea class="form-control text-white" style="resize:none; height:395px; background-color:transparent"></textarea>
                    </div>
                </div>
                <div class="card-footer bg-transparent" style="margin-bottom:50px">
                    <button type="button" class="btn btn-success" style="float:right">產生文件</button>
                </div>
            </div>
        </div>

        
    </body>


    <!-- Modal -->
<div class="modal fade" id="add_receiver_modal" tabindex="-1" role="dialog" aria-labelledby="add_receiver_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add_receiver_modal_label">新增寄件資訊</h5>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="input_sender">寄件人</label>
                        <input type="text" class="form-control" id="input_sender">
                    </div>
                    <div class="form-group">
                        <label for="input_senderAddr">寄件人詳細地址</label>
                        <input type="text" class="form-control" id="input_senderAddr">
                    </div>
                    <div class="form-group">
                        <label for="input_receiver">收件人</label>
                        <input type="text" class="form-control" id="input_receiver">
                    </div>
                    <div class="form-group">
                        <label for="input_receiverAddr">收件人詳細地址</label>
                        <input type="text" class="form-control" id="input_receiverAddr">
                    </div>
                    <div class="form-group">
                        <label for="input_cc">副本收件人</label>
                        <input type="text" class="form-control" id="input_cc">
                    </div>
                    <div class="form-group">
                        <label for="input_ccAddr">副本收件人詳細地址</label>
                        <input type="text" class="form-control" id="input_ccAddr">
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="save_info()">確定</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
</div>




</html>